 <!DOCTYPE html>
<html lang="en">
<head>
  <title>Store in Ho Chi Minh</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 800px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Dragonball store</h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/products">Store in Ha Noi</a></li>
        <li><a href="/products2">Store in Ho Chi Minh</a></li>
      </ul><br>
    </div>

    <div class="col-sm-9">
     <form action="/doSearchProducts" method="post">
        Name <input type="text" name="txtName" id="">
        <input type="submit" value="Search">
    </form>
    <br>
    <button><a href="insertProducts2">Add new products</a></button>
    <hr>
    <table class="table bordered">
        <thead>
             <tr>
              <th>ID Product</th>
              <th>Name</th>
              <th>Size</th>  
              <th>Price</th>
              <th>Amount</th>
            </tr>
        </thead>
<form action="/doupdate" method="post">
        {{#each model}}
        <tr>
            <td><input type="text" value= "{{_id}}" name = "txtId" id=""></td>
            <td><input type="text" value= "{{name}}" name = "txtName" id=""></td>
            <td><input type="text" value= "{{size}}" name = "txtSize" id="" ></td>
            <td><input type="text" value= "{{price}}" name = "txtPrice" id=""></td>
            <td><input type="text" value= "{{amount}}" name = "txtAmount" id=""></td>
            <td><input type="submit" value="Update"></td>
        </tr>      
        {{/each}}
 </form>
        
    </table>
      <br><br>
      
      
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p style="margin-top: 10px; margin-bottom: 10px; margin-right: 150px; margin-left: 600px;">© 2020 Copyright:Dragonball store</p>
</footer>

</body>
</html> 
